:root {
    --headerHeight: 35px;
    --mainContentBorder: 3px;
}

/*<editor-fold desc="Side Bar Design">*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*</editor-fold>*/

/*<editor-fold desc="Header & Footer">*/
#header, #footer {
    height: var(--headerHeight);
    position: fixed;
    background-color: aqua;
    width: 100%;
    display: inline-block;
}

#header {
    top: 0;
}

#footer {
    bottom: 0;
}

/*</editor-fold>*/

.MainWinInformationDiv, .gamediv {
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
}

.SignUpLabel {
}

#SignUpFormDiv {
    float: left;
}

#ContentDiv {
    align-items: center;
    justify-content: center;
    width: 100vmin;
    height: calc(99.5vmin - var(--mainContentBorder) - var(--headerHeight) * 2);
    margin: var(--headerHeight) auto;
    position: relative;
    border: var(--mainContentBorder) solid green;
}

#canvas {
    width: 100%;
    height: 100%;
}