:root {
    --headerHeight: 12%;
    --footerHeight: 6%;
    --scoreBoardWidth: 25%;
}

/*<editor-fold desc="General">*/
html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

input {
    padding: 0.3%;
}

@font-face {
    font-family: PacFont;
    src: url("../Fonts/PacFont.ttf");
}

/*</editor-fold>*/

/*<editor-fold desc="Top NavBar">*/
.fancyNav {
    /* Affects the UL element */
    margin: 0 auto;
    overflow: hidden;
    display: inline-flex;
}

.fancyNav li {
    /* Specifying a fallback color and we define CSS3 gradients for the major browsers: */

    background-color: #f0f0f0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), color-stop(0.5, #f0f0f0), color-stop(0.51, #e6e6e6));
    background-image: -moz-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -o-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: -ms-linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);
    background-image: linear-gradient(#fefefe 0%, #f0f0f0 50%, #e6e6e6 51%);

    border-right: 1px solid rgba(9, 9, 9, 0.125);

    /* Adding a 1px inset highlight for a more polished efect: */

    box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -moz-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;
    -webkit-box-shadow: 1px -1px 0 rgba(255, 255, 255, 0.6) inset;

    position: relative;

    float: left;
    list-style: none;
}

.fancyNav li:after {

    /* This creates a pseudo element inslide each LI */

    content: '.';
    text-indent: -9999px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;

    /* Gradients! */

    background-image: -webkit-gradient(linear, left top, right top, from(rgba(168, 168, 168, 0.5)), color-stop(0.5, rgba(168, 168, 168, 0)), to(rgba(168, 168, 168, 0.5)));
    background-image: -moz-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image: -o-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image: -ms-linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));
    background-image: linear-gradient(left, rgba(168, 168, 168, 0.5), rgba(168, 168, 168, 0) 50%, rgba(168, 168, 168, 0.5));

    /* Creating borders with box-shadow. Useful, as they don't affect the size of the element. */

    box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff, 1px 0 0 #a3a3a3, 2px 0 0 #fff;

    /* This will create a smooth transition for the opacity property */

    -moz-transition: 0.25s all;
    -webkit-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
}

/* Treating the first LI and li:after elements separately */
.fancyNav li:first-child {
    border-radius: 4px 0 0 4px;
}

.fancyNav li:first-child:after,
.fancyNav li.selected:first-child:after {
    box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -moz-box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;
    -webkit-box-shadow: 1px 0 0 #a3a3a3, 2px 0 0 #fff;

    border-radius: 4px 0 0 4px;
}

.fancyNav li:last-child {
    border-radius: 0 4px 4px 0;
}

/* Treating the last LI and li:after elements separately */
.fancyNav li:last-child:after,
.fancyNav li.selected:last-child:after {
    box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;
    -moz-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;
    -webkit-box-shadow: -1px 0 0 #a3a3a3, -2px 0 0 #fff;

    border-radius: 0 4px 4px 0;
}

.fancyNav li:hover:after,
.fancyNav li.selected:after,
.fancyNav li:target:after {
    /* This property triggers the CSS3 transition */
    opacity: 1;
}

.fancyNav:hover li.selected:after,
.fancyNav:hover li:target:after {
    /* Hides the targeted li when we are hovering on the UL */
    opacity: 0;
}

.fancyNav li.selected:hover:after,
.fancyNav li:target:hover:after {
    opacity: 1 !important;
}

/* Styling the anchor elements */
.fancyNav li a {
    color: #5d5d5d;
    display: inline-block;
    font: 20px/1 Lobster, Arial, sans-serif;
    padding: 12px 35px 14px;
    position: relative;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.6);
    z-index: 2;
    text-decoration: none !important;
    white-space: nowrap;
}

/*</editor-fold desc="Top NavBar">*/

/*<editor-fold desc="Header & Footer">*/
header, footer {
    width: 100%;
    background: linear-gradient(90deg, mediumblue, #07a0ff);
}

header {
    position: fixed;
    top: 0;
    height: var(--headerHeight);
    display: inline-flex;
    vertical-align: middle;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    height: var(--footerHeight);
    text-align: center;
    font-family: "Arial Black", serif;
    font-size: small;
}

#logo {
    float: left;
    content: url("../Images/Logo.png");
    height: 100%;
}

#namesDiv {
    float: right;
}

/*</editor-fold>*/

.MainWinInformationDiv {
    width: 100%;
    height: inherit;
    top: 0;
    left: 0;
    font-family: PacFont, serif;
}

#ContentDiv {
    text-align: center;
    position: absolute;
    top: var(--headerHeight);
    bottom: var(--footerHeight);
    left: 0;
    right: 0;
    background: url("../Images/bg.jpg") top;
    background-size: cover;
}

#WelcomeDiv {
    position: absolute;
    top: var(--headerHeight);
    color: yellow;
    font-size: 50px;
}

#welcomeText {
    margin-bottom: 4%;
}

#SignUpDiv {
    position: absolute;
    top: calc(0.25 * var(--headerHeight));
    color: yellow;
    display: inline-block;
}

.SignUpBr {
    line-height: 40px;
}

#LoginDiv {
    position: absolute;
    top: calc(1.5 * var(--headerHeight));
    text-align: center;
}

.FormLabel {
    white-space: pre-wrap;
    font-size: 18px;
    color: yellow;
}

/*<editor-fold desc="Modal Dialog">*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 45%;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover {
    background: #00d9ff;
}

/*</editor-fold>*/

/*<editor-fold desc="Buttons">*/
.customButton {
    -moz-box-shadow: 0 0 0 2px #9fb4f2;
    -webkit-box-shadow: 0 0 0 2px #9fb4f2;
    box-shadow: 0 0 0 2px #9fb4f2;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
    background: -moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: -ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background: linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e', GradientType=0);
    background-color: #7892c2;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #4e6096;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: PacFont, serif;
    font-size: 19px;
    padding: 12px 37px;
    text-decoration: none;
    text-shadow: 0 1px 0 #283966;
}

.customButton:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
    background: -moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: -ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2', GradientType=0);
    background-color: #476e9e;
}

.customButton:active {
    position: relative;
    top: 1px;
}

/*</editor-fold>*/

/*<editor-fold desc="Game">*/
#GameDiv {
    overflow: hidden;
    height: 100%;
    /*position: relative;*/
    background-color: black;
}

#ScoreBoard {
    width: var(--scoreBoardWidth);
    float: left;
    height: 100%;
    color: yellow;
    background-color: dimgray;
    display: table;
    text-align: center;
}

#5ptsColor{
    float: left;
}

select option[value="1"] {
    background-color: blue;
}

select option[value="2"] {
    background-color: red;
}

select option[value="3"] {
    background-color: yellow;
}

select option[value="4"] {
    background-color: green;
}

select option[value="5"] {
    background-color: white;
}

select option[value="6"] {
    background-color: purple;
}

select option[value="7"] {
    background-color: pink;
}

select option[value="8"] {
    background-color: gray;
}

#CanvasDiv {
    margin-left: calc(var(--scoreBoardWidth) * 1.5);
    width: calc(100% - (var(--scoreBoardWidth)));
    height: 100%;
    text-align: left;
}

#StartButton {
    display: table-cell;
    bottom: 0;
}

/*</editor-fold>*/
